@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap");

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --main-bg: #f2f2f2;
  --white-bg: #ffffff;
  --border-bottom: 1px solid black;
  --text: #000000;
}

:root[data-theme="dark"] {
  --main-bg: #dbdbdb;
  --white-bg: #2c2c2c;
  --border-bottom: 2px solid #ffffff;
  --text: #ffffff;
}
body {
  max-width: 1445px;
  margin: 0 auto;
  font-family: "Castoro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--text);
  border: 1px solid;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* Header styles start*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
header {
  max-width: 1445px;
  margin: 0 auto;
  background-color: var(--main-bg);
}
.header_wrapper {
  max-width: 940px;
  margin: 0 auto;
  border-bottom: var(--border-bottom);
}
.header_list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 90px;
  padding: 0px;
}
.header_items {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.header_link {
  text-decoration: none;
  color: #000000;
}
.header_link.active {
  font-weight: 700;
  border-bottom: 1px solid black;
}
/*Меню Бургер*/

.burger-menu {
  margin-bottom: 42px;
  margin-right: -10px;
  width: 40px;
  background-color: transparent;
  color: #333333;
  text-align: center;
  height: 25px;
  display: none;
}

#check_menu {
  opacity: 0; /*display:none*/
}
.menu__btn {
  display: block;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}
.burger_line {
  position: relative;
  top: 9px;
  left: 25%;
  width: 35px;
  height: 2px;
  background-color: #333333;
  transition: 0.5s all;
}

.first {
  width: 35px;
  border: 2px solid #333333;
}
.second,
.third {
  top: 18px;
  width: 35px;
  border: 1px solid #333333;
}
.fourth {
  top: 28px;
  width: 35px;
  border: 2px solid #333333;
}
.main_menu {
  display: block;
  position: absolute;
  width: 180px;
  top: -15.5%;
  left: -5%;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  z-index: 1;
}
.burger-menu_item {
  display: block;
  width: 100%;
  padding: 10px;
  border: var(--border-bottom);
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  color: var(--text);
}
.burger-menu_item a {
  text-decoration: none;
  color: var(--burger-menu-text);
}
#check_menu:checked ~ .main_menu {
  max-height: 500px;
  font-size: 16px;
}
#check_menu:checked ~ .first {
  display: none;
}
#check_menu:checked ~ .second {
  transform: rotate(45deg);
}
#check_menu:checked ~ .third {
  transform: rotate(-45deg);
}
#check_menu:checked ~ .fourth {
  display: none;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* Header styles end*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* Main styles start*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.main {
  max-width: 1445px;
  background-color: var(--white-bg);
  padding-bottom: 50px;
}
.main_wrapper {
  max-width: 940px;
  margin: 0 auto;
}
.main_switch {
  display: flex;
  justify-content: flex-end;
  padding-top: 35px;
  margin: 0 auto;
}
.main_checkbox {
  display: flex;
  vertical-align: middle;
  justify-content: flex-start;
  width: 54px;
  height: 30px;
  -webkit-appearance: none;
  outline: none;
  background: #f2f2f2;
  border-radius: 25px;
  transition: 0.5s;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
}
.main_checkbox:checked {
  background: #333333;
}
.main_checkbox:before {
  content: "";
  position: relative;
  width: 20px;
  height: 20px;
  left: 6px;
  top: 5px;
  border-radius: 20px;
  background: #ffffff;
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.main_checkbox:checked:before {
  left: 30px;
}
.main_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
}
.main_name {
  max-width: 125px;
  margin-bottom: 30px;
}
h1 {
  font-family: "Castoro";
  font-style: italic;
  font-weight: 400;
  font-size: 88px;
  line-height: 91px;
  margin: 0px -65px;
}
.main_about {
  max-width: 250px;
}
.main_about p {
  font-size: 30px;
  margin: 0;
}

.main_photo {
  max-width: 940px;
  height: 340px;
  background: url(assets/img/1597603587.jpg) no-repeat center;
  background-size: 100%;
  margin: 0 auto;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* Main styles end*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* About styles start*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.about {
  max-width: 1445px;
  margin: 0 auto;
  background-color: var(--main-bg);
  padding-top: 100px;
  padding-bottom: 100px;
}
.about_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 940px;
}

h2 {
  font-family: "Castoro";
  font-style: italic;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
}
.about_text {
  text-align: center;
  margin-bottom: 100px;
  color: #000000;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* About styles end*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* Skils styles start*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.skills {
  max-width: 1445px;
  margin: 0 auto;
  background-color: var(--white-bg);
  padding-top: 100px;
  padding-bottom: 100px;
}
.skills_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 940px;
}
.skills_title {
  margin: 0 auto;
}
.skills_text {
  margin: 0 auto;
  margin-bottom: 45px;
}
h3 {
  font-family: "Castoro";
  font-style: italic;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: var(--text);
  margin: 0 auto;
}
.skills_icons {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.skills_icon {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills_icon_img img {
  width: 80px;
  height: 90px;
}
.skills_icon_title {
  font-size: 15px;
  margin-bottom: 30px;
}
.skills_icon_stars {
  display: inline;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* Skills styles end*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* Portfolio styles start*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.portfolio {
  max-width: 1445px;
  margin: 0 auto;
  background-color: var(--main-bg);
}
.portfolio_wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 100px;
}
.portfolio_title {
  text-align: center;
  margin-bottom: 50px;
}
.portfolio_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio_img img {
  margin-bottom: 50px;
  width: 100%;
}
.portfolio_img a {
  color: black;
  margin-bottom: 100px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* Portfolio styles end*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* Footer styles start*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.contacts {
  max-width: 1445px;
  margin: 0 auto;
  padding-top: 100px;
  background-color: var(--white-bg);
}
.contacts_wrapper {
  max-width: 340px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.contacts_title {
  text-align: center;
}
.contacts_text {
  text-align: center;
  margin-bottom: 30px;
}
.footer_button {
  margin: 0 auto;
}
.contacts_button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  background-color: #333333;
  font-size: 18px;
  color: #f7f7f7;
  margin-bottom: 30px;
}
.contacts_icons {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-bottom: 50px;
  list-style-type: none;
  padding-inline-start: 0px;
}
.contacts_icon img {
  width: 40px;
  height: 40px;
}

footer {
  background-color: var(--main-bg);
  padding-bottom: 50px;
}
.line {
  max-width: 940px;
  border-top: var(--border-bottom);
  margin: 0 auto;
}
h4 {
  font-family: "Castoro";
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  line-height: 60px;
  color: var(--text);
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 720px) and (min-width: 300px) {
  .header__nav {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}
@media (max-width: 660px) and (min-width: 300px) {
  .main_name {
    margin-top: 146px;
  }
  .skills_icons {
    flex-direction: column;
  }
}
